<footer class="page-footer font-small bg-secondary pt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-center">Siga-nos nas redes sociais</h4>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">

      <ul class="social-network">
        <li>
          <a href="https://www.facebook.com/milena.coutinho.90410" target="_blanck" class="iconFacebook">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/mlncoutinho/?hl=pt-br" target="_blanck" class="iconInstagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/milena-coutinho-344563212/" target="_blanck" class="iconLinkedln">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

    <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light">&copy; 2020 Copyright: Milena Coutinho</span>

    </div>
</footer>
