<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0 d-flex align-items-center">
      <li class="nav-item">
        <img
          src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.6435-9/77170321_107640060710758_3469343194364248064_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=174925&_nc_ohc=t729X4q3qcgAX8IS1FJ&tn=HLfVnKAFntKkpiJ-&_nc_ht=scontent-gru2-2.xx&oh=1030c1eab2452de0f6fd2ea75bed9791&oe=61493F72"
          alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Milena Coutinho</p>
      </li>

      <li class="nav-item pl-3">
        <a href="">
          <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>

  </div>
</nav>
