#img-bg {
  background-image: url(https://64.media.tumblr.com/eee2b98a6059e9113f619b4cee7d343b/d4ade5cc1722d49e-3f/s540x810/ce815088606922e64ad4a28f17333800c07b1fb6.jpg);

  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.alinhamento{
  margin: auto 0;
}
