#img-bg {
  background-image: url(https://64.media.tumblr.com/9742891b83d5e2e101385cccfa26481b/tumblr_pjv6n5Pmop1v1kwnz_400.gifv);

  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
